@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --nav-blue: #1b3065;
  --heading-blue: #356dfa;
  --sub-head-grey: #7a7a7a;
}
.subheading-text {
  font-size: 14px;
  color: var(--sub-head-grey);
}
.heading-text {
  color: var(--heading-blue);
  font-weight: 500;
  font-size: 24px;
}
.text {
  font-weight: 500;
  font-size: 18px;
}
.small-text {
  font-size: 11px;
  color: var(--sub-head-grey);
}
.main-body {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  background-color: whitesmoke;
}
nav {
  width: 100%;
  height: 17vh;
  background-color: var(--nav-blue);
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 2rem 1rem 2rem 1rem;
}
.cards-row {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}
.cards {
  padding: 1rem;
  padding-bottom: 2.5rem;
  width: 49%;
  background-color: white;
  flex-grow: 1;
  border-radius: 25px;
  box-shadow: 0px 10.74px 51.71px 0px #1d224b14;
  box-shadow: 0px 85.74px 412.99px 0px #1d224b0d;
}
.cont-img {
  width: 100%;
  height: 63%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cont-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
.container-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.circs {
 justify-content: center;
  height: 100%;
  position: absolute;
  margin-right: 10px;
  gap: 10%;
  display: flex;
  flex-direction: column;
}
.circ {
  width: 48px;
  height: 48px;
  background-color: var(--heading-blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circ img {
  width: 30px;
  height: auto;
}
.container-btm {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-wrapper p {
  white-space: nowrap;
}
.icons {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 0.94px solid #e8eef7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon img {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media screen and (max-width: 681px) {
  .cards {
    width: 80%;
    height: 80vw;
  }
  .circ {
    width: 9vw;
    height: 9vw;
  }
  .circ img {
    width: 25px;
    height: auto;
  }
}
@media screen and (min-width: 450px) and (max-width: 768px) {
}
@media screen and (max-width: 350px) {
  .text {
    font-size: 10px;
  }
  .circ img {
    width: 25px;
  }
  .cards {
    margin-bottom: 3rem;
  }
  .circs{
    gap:10px ;
  }
  .circ img{
    width: 15px;
  }
  .small-text{
    font-size: 9px;
  }
}
